@use '../../../theme' as *;

.calendar-selection {
    width: 250px;
}

:host ::ng-deep .chart-tooltip {
    display: none;
    position: absolute;
    border-radius: nb-theme(border-radius);
    border: 1px solid nb-theme(color-basic-default-border);
    background: nb-theme(background-basic-color-1);
    margin-bottom: 30px;
}

:host ::ng-deep .chart-tooltip:after, :host ::ng-deep .chart-tooltip:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

:host ::ng-deep .chart-tooltip:after {
    border-top-color: nb-theme(background-basic-color-1);
    border-width: 10px;
    margin-left: -10px;
}

:host ::ng-deep .chart-tooltip:before {
    border-top-color: nb-theme(color-basic-default-border);
    border-width: 11px;
    margin-left: -11px;
}

:host ::ng-deep .chart:hover > .chart-tooltip {
    display: block !important;
}
