<form #calendarForm="ngForm" (submit)="save.emit(this.calendar)" autocomplete="off">
    <nb-card class="dialog">
        <nb-card-header class="d-flex align-items-center">
            <button nbButton status="primary" ghost (click)="back.emit()" class="me-3">
                <nb-icon icon="arrow-back-outline"></nb-icon>
            </button>
            Manage calendar
        </nb-card-header>

        <nb-card-body>
            <div class="mb-3">
                <nb-form-field>
                    <nb-icon nbPrefix icon="calendar-outline"></nb-icon>
                    <input
                        nbInput
                        fullWidth
                        name="name"
                        #name="ngModel"
                        maxlength="255"
                        required
                        [(ngModel)]="calendar.name"
                        [status]="name.dirty ? (name.invalid ? 'danger' : 'success') : 'basic'"
                        placeholder="Calendar name, ex. Vacation" />
                </nb-form-field>

                @if (name.invalid && name.touched) {
                    @if (name.errors?.required) {
                        <p class="caption status-danger">Name is required!</p>
                    }
                }
            </div>
            <div class="mb-3">
                <div class="caption-2 mb-1">Owner</div>
                <nb-user
                    [picture]="calendar.owner.avatar"
                    [name]="calendar.owner.name"
                    [title]="calendar.owner.email" />
            </div>

            @if (calendar.collaborators.length) {
                <div class="mb-3">
                    <div class="caption-2 mb-1">Shared with</div>
                    <nb-list>
                        @for (user of calendar.collaborators; track $index) {
                            <nb-list-item class="p-0 mb-2 justify-content-between">
                                <nb-user [picture]="user.avatar" [name]="user.name" [title]="user.email" />
                                <button
                                    nbButton
                                    type="button"
                                    ghost
                                    size="small"
                                    status="danger"
                                    class="me-3"
                                    title="Remove user"
                                    (click)="removeUser(user)">
                                    <nb-icon icon="person-remove-outline"></nb-icon>
                                </button>
                            </nb-list-item>
                        }
                    </nb-list>
                </div>
            }

            <div class="border-top pt-3">
                <nb-form-field>
                    <nb-icon nbPrefix icon="person-add-outline"></nb-icon>
                    <input
                        nbInput
                        #userAutoCompleteInput
                        fullWidth
                        (focus)="onInputChange()"
                        (input)="onInputChange()"
                        type="text"
                        fieldSize="small"
                        placeholder="Share calendar with..."
                        [nbAutocomplete]="userAutoComplete" />
                </nb-form-field>
                <nb-autocomplete #userAutoComplete (selectedChange)="onUserSelect($event)">
                    @for (user of filteredOptions | async; track $index) {
                        <nb-option [value]="user" class="justify-content-between">
                            {{ user.name }} <small>({{ user.email }})</small>
                        </nb-option>
                    }
                </nb-autocomplete>
            </div>
        </nb-card-body>

        <nb-card-footer class="text-right">
            <button nbButton type="submit" status="primary" [disabled]="isBusy || !calendarForm.valid">
                <nb-icon icon="save-outline"></nb-icon>
                Save
            </button>
        </nb-card-footer>
    </nb-card>
</form>
