<form #calendarForm=ngForm (submit)="save.emit(this.calendar)" class="dialog-responsive" autocomplete="off">
    <nb-card size="small" class="border-0">
        <nb-card-header i18n>
            <button nbButton status="primary" ghost (click)="back.emit(true)">
                <nb-icon icon="arrow-back-outline"></nb-icon>
            </button>
            Manage calendar
        </nb-card-header>

        <nb-card-body>
            <div class="mb-3">
                <input
                    nbInput
                    fullWidth
                    maxlength="255"
                    required
                    name="name"
                    [(ngModel)]="calendar.name"
                    placeholder="Calendar name, ex. Vacation" />
            </div>
            <div>
                <nb-tag-list (tagRemove)="onTagRemove($event)">
                    <nb-tag *ngFor="let user of calendar.users" [text]="user.name" removable></nb-tag>
                    <input fullWidth nbTagInput (tagAdd)="onTagAdd($event)">
                </nb-tag-list>
            </div>
        </nb-card-body>

        <nb-card-footer class="text-right">
            <button nbButton type="submit" status="primary" [disabled]="saveButtonEnabled || !calendarForm.valid">
                <nb-icon icon="save-outline"></nb-icon>
                Save
            </button>
        </nb-card-footer>
    </nb-card>
</form>
