<div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <button nbButton status="primary" (click)="toggleSidebar()">
            <nb-icon icon="menu-2-outline"></nb-icon>
        </button>

        <div class="mx-3 calendar-info">
            <strong class="d-block">{{ calendar?.name }}</strong>
            <small class="d-block text-hint">
                <span title="Current balance">{{ calendar?.balance | shortNumber }}</span>
                <span *ngIf="visibleDateBalance"> |
                    <span title="This months balance" [class.text-success]="visibleDateBalance > 0" [class.text-danger]="visibleDateBalance < 0">{{ visibleDateBalance | shortNumber }}</span>
                </span>
            </small>
        </div>
    </div>

    <div class="d-flex text-right">

        <nb-calendar-view-mode
            [date]="visibleDate"
            [viewMode]="activeViewMode"
            [nbPopover]="templateRef"
            nbPopoverTrigger="noop"
            nbPopoverPlacement="bottom"
            (changeMode)="changeViewMode()">
        </nb-calendar-view-mode>

        <ng-template #templateRef>
            <div [ngSwitch]="activeViewMode">
                <nb-calendar-year-picker
                    *ngSwitchCase="viewMode.YEAR"
                    [year]="visibleDate"
                    (yearChange)="visibleDate = $event; activeViewMode = viewMode.MONTH">
                </nb-calendar-year-picker>

                <nb-calendar-month-picker
                    *ngSwitchCase="viewMode.MONTH"
                    [month]="visibleDate"
                    (monthChange)="navigateToDate($event); activeViewMode = viewMode.DATE">
                </nb-calendar-month-picker>
            </div>
        </ng-template>

        <nb-button-group status="primary" class="d-none d-sm-block mx-3">
            <button nbButton (click)="navigatePrev()">
                <nb-icon icon="arrow-back-outline"></nb-icon>
            </button>

            <button nbButton (click)="navigateToday()">
                TODAY
            </button>

            <button nbButton (click)="navigateNext()">
                <nb-icon icon="arrow-forward-outline"></nb-icon>
            </button>
        </nb-button-group>

        <nb-actions size="small">
            <nb-action icon="bar-chart-outline"></nb-action>
        </nb-actions>
    </div>
</div>
