<form #userForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <nb-card [nbSpinner]="isBusy" class="dialog" style="min-height: 200px;">
        <nb-card-header>
            <nb-user [picture]="user.avatar"
                     [name]="user.name"
                     [title]="user.email"
                     size="large">
            </nb-user>
        </nb-card-header>
        <nb-card-body>
            <div class="mb-3">
                <input nbInput fullWidth required
                       #password="ngModel"
                       type="password"
                       [minlength]="authOptions.getConfigValue('forms.validation.password.minLength')"
                       [maxlength]="authOptions.getConfigValue('forms.validation.password.maxLength')"
                       [(ngModel)]="passwordRequest.currentPassword"
                       [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
                       name="currentPassword"
                       placeholder="Current password" />
            </div>
            <div class="mb-3">
                <input nbInput fullWidth required
                       #newPassword="ngModel"
                       type="password"
                       [minlength]="authOptions.getConfigValue('forms.validation.password.minLength')"
                       [maxlength]="authOptions.getConfigValue('forms.validation.password.maxLength')"
                       [(ngModel)]="passwordRequest.newPassword"
                       [status]="newPassword.dirty ? (newPassword.invalid  ? 'danger' : 'success') : 'basic'"
                       name="newPassword"
                       placeholder="New password" />
                <ng-container *ngIf="password.invalid && password.touched ">
                    <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                        Password should contain
                        from {{ authOptions.getConfigValue('forms.validation.password.minLength') }}
                        to {{ authOptions.getConfigValue('forms.validation.password.maxLength') }}
                        characters
                    </p>
                </ng-container>
            </div>
            <div class="mb-0">
                <input nbInput fullWidth required
                       #confirmPassword="ngModel"
                       type="password"
                       [minlength]="authOptions.getConfigValue('forms.validation.password.minLength')"
                       [maxlength]="authOptions.getConfigValue('forms.validation.password.maxLength')"
                       [(ngModel)]="passwordRequest.confirmPassword"
                       [status]="confirmPassword.dirty ? (confirmPassword.invalid  ? 'danger' : 'success') : 'basic'"
                       name="confirmPassword"
                       placeholder="Confirm new password" />
                <ng-container *ngIf="password.invalid && password.touched ">
                    <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                        Password should contain
                        from {{ authOptions.getConfigValue('forms.validation.password.minLength') }}
                        to {{ authOptions.getConfigValue('forms.validation.password.maxLength') }}
                        characters
                    </p>
                </ng-container>
            </div>
        </nb-card-body>
        <nb-card-footer class="text-right">
            <button nbButton type="submit" status="primary" [disabled]="isBusy || !userForm.form.valid">
                <nb-icon icon="save-outline"></nb-icon> Save
            </button>
        </nb-card-footer>
    </nb-card>
</form>
