<form #userForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <nb-card [nbSpinner]="isBusy" class="dialog" style="min-height: 200px;">
        <nb-card-header>
            <nb-user [picture]="user.avatar"
                     [name]="user.name"
                     [title]="user.email"
                     size="large">
            </nb-user>
        </nb-card-header>
        <nb-card-body>
            <div class="mb-3">
                <input nbInput fullWidth required
                       type="password" maxlength="255"
                       [(ngModel)]="passwordRequest.currentPassword"
                       name="currentPassword"
                       placeholder="Current password" />
            </div>
            <div class="mb-3">
                <input nbInput fullWidth required
                       type="password" minlength="8" maxlength="255"
                       [(ngModel)]="passwordRequest.newPassword"
                       name="newPassword"
                       placeholder="New password" />
            </div>
            <div class="mb-0">
                <input nbInput fullWidth required
                       type="password" minlength="8" maxlength="255"
                       [(ngModel)]="passwordRequest.confirmPassword"
                       name="confirmPassword"
                       placeholder="Confirm new password" />
            </div>
        </nb-card-body>
        <nb-card-footer class="text-right">
            <button nbButton type="submit" status="primary" [disabled]="isBusy || !userForm.form.valid">
                <nb-icon icon="save-outline"></nb-icon> Save
            </button>
        </nb-card-footer>
    </nb-card>
</form>
