# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    defaultFalse: false
    defaultTrue: true
    timezone: '%env(TZ)%'
    registrationDisabled: '%env(bool:defaultFalse::REGISTRATION_DISABLED)%'
    anonymousDataCollectionDisabled: '%env(bool:default:defaultFalse:ANONYMOUS_DATA_COLLECTION_DISABLED)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/DTO/'
            - '../src/Entity/'
            - '../src/Response/'
            - '../src/Kernel.php'
            - '../src/Exception'

    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    App\EventListener\CORSResponseListener:
        arguments:
            $environment: '%kernel.environment%'

    Symfony\Component\Serializer\Normalizer\DateTimeNormalizer:
        arguments:
            $defaultContext:
                datetime_format: 'Y-m-d H:i:s'

    App\Request\AbstractRequest:
        abstract: true
        arguments:
            - $requestStack: ['@request_stack']
