services:
  dev_backend:
    build:
      target: development-backend
    volumes:
      - '.:/opt/expensave'
    environment:
      APP_ENV: dev
      DATABASE_NAME: dev_expensave
      DATABASE_USER: dev_expensave
      DATABASE_PASS: dev_expensave
      DATABASE_HOST: dev_database
    depends_on:
      - dev_database
    ports:
      - "18001:18001"

  dev_frontend:
    build:
      target: development-frontend
    volumes:
      - '.:/opt/expensave'
    ports:
      - "18002:18002"

  dev_database:
    image: mariadb:11
    volumes:
      - 'expensave_db:/var/lib/mysql'
      - './docker/mariadb/development.init.sql:/docker-entrypoint-initdb.d/init.sql'
    restart: unless-stopped
    environment:
      MARIADB_RANDOM_ROOT_PASSWORD: yes
      MARIADB_USER: dev_expensave
      MARIADB_PASSWORD: dev_expensave
      MARIADB_DATABASE: dev_expensave
    ports:
      - "3306:3306"

volumes:
  expensave_db: