<div [nbSpinner]="isBusy">
    <nb-list class="mb-3">
        @for (item of calendars; track $index) {
            <nb-list-item class="p-0">
                <nb-radio-group name="sidebar-calendar" class="w-100">
                    <nb-radio
                        class="ms-2"
                        [value]="item"
                        (valueChange)="calendarChange.emit($event)"
                        [checked]="selectedCalendarId === item.id">
                        <div class="d-flex align-items-center justify-content-between w-100">
                            <div class="calendar-name text-truncate">
                                @if (item.shared) {
                                    <nb-icon
                                        [icon]="item.owner?.id === user?.id ? 'people' : 'people-outline'"
                                        [title]="
                                            item.owner?.id === user?.id
                                                ? 'Owned by me & shared with others'
                                                : 'Shared with me by ' +
                                                  item.owner?.name +
                                                  ' (' +
                                                  item.owner?.email +
                                                  ')'
                                        "
                                        class="me-1 text-hint" />
                                } @else {
                                    <nb-icon icon="person-outline" class="me-1 text-hint" title="Owned by me" />
                                }

                                {{ item.name }}
                            </div>
                            <div class="calendar-balance text-hint">
                                {{ item.balance | shortNumber }}
                            </div>
                            <div class="calendar-actions text-right">
                                <button
                                    nbButton
                                    type="button"
                                    ghost
                                    size="small"
                                    status="danger"
                                    (click)="makeDefault(item)"
                                    title="Make default">
                                    <nb-icon icon="heart-outline" />
                                </button>
                                <button
                                    nbButton
                                    type="button"
                                    ghost
                                    size="small"
                                    status="success"
                                    (click)="statementImportService.uploadStatement(item)"
                                    title="Import / export statements">
                                    <nb-icon icon="attach-outline" />
                                </button>

                                @if (item.owner?.id === user?.id) {
                                    <button
                                        nbButton
                                        type="button"
                                        ghost
                                        size="small"
                                        status="primary"
                                        (click)="editCalendar(item)"
                                        title="Edit calendar">
                                        <nb-icon icon="edit-outline" />
                                    </button>
                                    <button
                                        nbButton
                                        type="button"
                                        ghost
                                        size="small"
                                        status="danger"
                                        (click)="deleteCalendar(item)"
                                        title="Delete calendar">
                                        <nb-icon icon="trash-2-outline" />
                                    </button>
                                }
                            </div>
                        </div>
                    </nb-radio>
                </nb-radio-group>
            </nb-list-item>
        }
    </nb-list>
    <div class="d-flex justify-content-between">
        <button nbButton type="button" fullWidth status="primary" ghost (click)="createCalendar()" class="pl-4" i18n>
            <nb-icon icon="plus" />
            Add a calendar...
        </button>
    </div>
</div>
