parameters:
    level: 8
    paths:
        - src
    symfony:
        containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml
    ignoreErrors:
        - identifier: doctrine.associationType
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - '#should return non-empty-string but returns string#'
