@use '@nebular/theme/styles/globals' as *;

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

small.very-small {
    font-size: 10px;
}

//
//.text-truncate {
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: ellipsis;
//}
//
//.clearfix {
//  clear: both;
//}
