@import 'bootstrap/scss/bootstrap-utilities';

nb-sidebar > .main-container > .scrollable {
  padding: 0 !important;
}

@include media-breakpoint-down(md) {
  .dialog {
      //margin-bottom: 30vh !important;
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

nb-list nb-list-item {
    border: 0 !important;
}

.actionable {
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-user-selection {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nb-card.dialog {
    width: 360px;
    min-height: 400px;
    max-height: 75vh;
    height: 100%;
    border: 0 !important;
    margin: 0;
}
