monolog:
    channels:
        - deprecation
    handlers:
        main:
            type: rotating_file
            path: '%kernel.logs_dir%/%kernel.environment%.log'
            level: debug
            max_files: 14
        deprecation:
            type: rotating_file
            path: '%kernel.logs_dir%/%kernel.environment%.deprecation.log'
            max_files: 14
            channels: [deprecation]

when@prod:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: stderr
                excluded_http_codes: [404, 405]
                buffer_size: 50
                channels: ['!event']
            stderr:
                type: stream
                path: php://stderr
                level: error
            stdout:
                type: stream
                path: php://stdout
                level: info
