<form #transferForm="ngForm" [nbSpinner]="isBusy" (ngSubmit)="onSubmit()" autocomplete="off" class="h-100">
    <div class="d-flex flex-column h-100">
        <app-expense-input [expense]="expense" [labelEditable]="false" />

        <div class="h-100 overflow-auto">
            <app-expense-dialog-calendar-list-item
                [(calendar)]="expense.calendar"
                icon="log-out-outline"
                textPrefix="Source:" />
            <app-expense-dialog-calendar-list-item
                [(calendar)]="destinationCalendar"
                [showLoader]="showDestinationCalendarLoader"
                icon="log-in-outline"
                textPrefix="Destination:" />
            <app-expense-dialog-category-list-item [category]="expense.category" [isActionable]="false" />
            <app-expense-dialog-date-list-item [(date)]="expense.createdAt" />
            <app-expense-dialog-description-list-item [(description)]="expense.description" />
            <app-expense-dialog-user-list-item [user]="expense.user" />
        </div>

        <input type="hidden" name="destinationCalendar" [(ngModel)]="destinationCalendar" required />

        <app-expense-dialog-footer [form]="transferForm" [expense]="expense" (delete)="onDelete()" />
    </div>
</form>
