@use 'bootstrap/scss/bootstrap-utilities' as *;
@use '../../../../../theme' as *;

:host > nb-card {
    max-height: 640px;
    width: 300px;
}

.report-body {
    min-height: 0;
}

.report-body.empty-loading {
    min-height: 96px;
}
