<form #calendarForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <nb-card [nbSpinner]="isBusy">
        <nb-card-body>
            <div class="mb-3">
                <input nbInput maxlength="255" name="name" placeholder="Calendar name" [(ngModel)]="calendar.name" required />
            </div>
            <div>
                <nb-tag-list (tagRemove)="onTagRemove($event)">
                    <nb-tag *ngFor="let user of calendar.users" [text]="user.name" removable></nb-tag>
                    <input type="text" nbTagInput (tagAdd)="onTagAdd($event)">
                </nb-tag-list>
            </div>
        </nb-card-body>
        <nb-card-footer class="text-right">
            <button nbButton type="submit" status="primary" [disabled]="isBusy || !calendarForm.valid">
                <nb-icon icon="save-outline"></nb-icon>
                Save
            </button>
        </nb-card-footer>
    </nb-card>
</form>