<nb-layout [nbSpinner]="isApplicationBusy">
    <nb-layout-header fixed>
        <app-header
            [calendar]="selectedCalendar"
            [visibleDateBalance]="visibleDateBalance"
            [visibleDate]="mainService.visibleDate" />
    </nb-layout-header>

    <nb-layout-column
        class="p-0 p-sm-3"
        [nbSpinner]="calendarBusy"
        (resized)="onResized($event)"
        appSwipe
        (swipeEnd)="onSwipeEnd($event)">
        <app-calendar
            [calendar]="selectedCalendar"
            [expenses]="expenses"
            [expenseBalances]="expenseBalances"
            [visibleDate]="mainService.visibleDate"
            [selectedDate]="mainService.visibleDate"
            (rangeChange)="onRangeChange($event)"
            [isMobile]="isMobile" />
    </nb-layout-column>

    <nb-sidebar
        tag="{{ SIDEBAR_TAG }}"
        state="collapsed"
        appOutsideClick
        (outsideClick)="onSidebarOutsideClick($event)">
        <div class="d-flex flex-column h-100 p-3">
            <app-profile [user]="mainService.user" />
            <div class="border-bottom my-3"></div>
            <app-sidebar-calendar-list
                [calendars]="calendars"
                [calendar]="selectedCalendar"
                (calendarChange)="onCalendarChange($event)" />
            <app-sidebar-actions class="mt-auto" />
        </div>
    </nb-sidebar>
</nb-layout>
