<nb-layout>
    <nb-layout-header fixed>
        <app-header></app-header>
    </nb-layout-header>

    <nb-layout-column
        class="p-0 p-sm-3"
        appSwipe
        (resized)="onResized($event)"
        (swipeEnd)="onSwipeEnd($event)">
        <app-calendar></app-calendar>
    </nb-layout-column>

    <nb-sidebar
        tag="{{ SIDEBAR_TAG }}"
        state="collapsed"
        appOutsideClick
        (outsideClick)="onSidebarOutsideClick($event)">
        <app-sidebar></app-sidebar>
    </nb-sidebar>
</nb-layout>
