<nb-layout>
    <nb-layout-header fixed>
        <app-header
            [calendar]="mainService.calendar"
            [visibleDateBalance]="mainService.visibleDateBalance"
            [visibleDate]="mainService.visibleDate">
        </app-header>
    </nb-layout-header>

    <nb-layout-column
        class="p-0 p-sm-3"
        [nbSpinner]="isBusy"
        (resized)="onResized($event)"
        appSwipe
        (swipeEnd)="onSwipeEnd($event)">
        <app-calendar
            [calendar]="mainService.calendar"
            [expenses]="mainService.expenses"
            [expenseBalances]="mainService.expenseBalances"
            [visibleDate]="mainService.visibleDate"
            [selectedDate]="mainService.visibleDate"
            (rangeChange)="onRangeChange($event)"
            [isMobile]="isMobile">
        </app-calendar>
    </nb-layout-column>

    <nb-sidebar tag="{{ SIDEBAR_TAG }}" state="collapsed" appOutsideClick (outsideClick)="onSidebarOutsideClick()">
        <div class="p-3">
            <app-profile [user]="mainService.user"></app-profile>
            <div class="border-bottom my-3"></div>
            <app-sidebar-calendar-list
                [(calendars)]="mainService.calendars"
                [calendar]="mainService.calendar"
                (calendarChange)="onCalendarChange($event)">
            </app-sidebar-calendar-list>
        </div>
    </nb-sidebar>
</nb-layout>
