@use 'bootstrap/scss/bootstrap-utilities' as *;
@use '../../../theme' as *;

nb-sidebar.expanded {
    height: 100%;
    position: fixed;
    z-index: 1;

    .main-container {
        width: 100%;
    }
}

@include media-breakpoint-down(md) {
    nb-sidebar.expanded {
        width: 100% !important;
    }

    :host ::ng-deep nb-sidebar > .main-container {
        width: 100% !important;
    }
}
