<div [nbSpinner]="isBusy">
    @if (editableCategory) {
        <app-category-edit
            [categories]="categories"
            [category]="editableCategory"
            [saveButtonEnabled]="isBusy"
            (back)="editableCategory = undefined"
            (save)="saveCategory($event)" />
    } @else {
        <app-category-list
            [categories]="categories"
            [selectedCategory]="selectedCategory"
            (newCategoryClick)="editCategory()"
            (categoryClick)="categoryClick($event)"
            (back)="dialogRef.close()" />
    }
</div>
