<nb-card class="dialog">
    <nb-card-header>
        {{ visibleDate | date: 'mediumDate' }}
    </nb-card-header>
    <nb-card-body class="p-0">
        <app-expense-list-items
            *ngIf="unconfirmedExpenses.length"
            header="UNCONFIRMED TRANSACTIONS"
            [expenses]="unconfirmedExpenses"
            (expenseClick)="editExpense($event)"
            icon="radio-button-off" />
        <app-expense-list-items
            *ngIf="confirmedExpenses.length"
            header="CONFIRMED TRANSACTIONS"
            [expenses]="confirmedExpenses"
            (expenseClick)="editExpense($event)" />
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-between align-items-center px-3">
        <div class="text-center">
            <small class="d-block text-hint">DAILY CHANGE</small>
            {{ totalExpensesAmount | shortNumber }}
        </div>
        <div>
            <button nbButton fullWidth status="primary" ghost (click)="createExpense()">
                <nb-icon icon="plus"></nb-icon> Add transaction
            </button>
        </div>
    </nb-card-footer>
</nb-card>
