<nb-card class="dialog">
    <nb-card-header class="d-flex align-items-center justify-content-between">
        Pick a date
        <button
            nbButton
            type="button"
            status="basic"
            ghost
            aria-label="Close date picker"
            nbTooltip="Close"
            (click)="dialogRef.close()">
            <nb-icon icon="close-outline" />
        </button>
    </nb-card-header>

    <nb-calendar size="medium" [(date)]="date" [visibleDate]="date" (dateChange)="dialogRef.close(date)" />
</nb-card>
