@import '../../../../../../themes';

nb-list-item {
  cursor: pointer;
}

.category-color {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

nb-list-item.active {
  color: nb-theme(text-alternate-color);

  nb-icon {
    color: nb-theme(text-alternate-color) !important;
  }
}
