<nb-card class="mb-0">
    <nb-list>
        <nb-list-item *ngFor="let category of categories" (click)="categoryClick.emit(category)">
            <div class="d-flex align-items-center w-100">
                <nb-icon icon="radio-button-on" class="flex-shrink-0 me-3" [style.color]="category.color"></nb-icon>
                <div class="text-truncate">{{ category.name }}</div>
            </div>
        </nb-list-item>
    </nb-list>
    <nb-card-footer class="text-right">
        <button nbButton status="primary" ghost (click)="categoryClick.emit()">
            <nb-icon icon="plus"></nb-icon> Add category
        </button>
    </nb-card-footer>
</nb-card>
