<nb-card class="dialog" size="large">
    <nb-card-header>
        <button nbButton status="primary" ghost (click)="back.emit(true)">
            <nb-icon icon="arrow-back-outline"></nb-icon>
        </button>
        Select category
    </nb-card-header>
    <nb-list>
        <nb-list-item
            class="actionable"
            *ngFor="let category of categories"
            [class.active]="isActive(category)"
            [style.background-color]="isActive(category) ? category.color : ''"
            (click)="categoryClick.emit(category)">
            <nb-icon
                icon="radio-button-on"
                class="flex-shrink-0 me-2"
                [style.color]="isActive(category) ? '' : category.color">
            </nb-icon>
            <div class="text-truncate">{{ category.name }}</div>
        </nb-list-item>
    </nb-list>
    <nb-card-footer class="text-right">
        <button nbButton status="primary" ghost (click)="newCategoryClick.emit(true)">
            <nb-icon icon="plus"></nb-icon> Add category
        </button>
    </nb-card-footer>
</nb-card>
