<form #categoryForm="ngForm" (submit)="save.emit(this.category)" autocomplete="off">
    <nb-card class="dialog">
        <nb-card-header i18n>
            <button nbButton status="primary" ghost (click)="back.emit()">
                <nb-icon icon="arrow-back-outline"></nb-icon>
            </button>
            Manage category
        </nb-card-header>

        <nb-card-body>
            <div class="d-flex align-items-center mb-3">
                <nb-icon icon="radio-button-on" class="flex-shrink-0 me-3" [style.color]="category.color"></nb-icon>
                <div>
                    <input type="hidden" required [(ngModel)]="category.color" name="color" />
                    <nb-form-field>
                        <nb-icon nbPrefix icon="pricetags-outline"></nb-icon>
                        <input
                            #categoryName="ngModel"
                            nbInput
                            fullWidth
                            maxlength="255"
                            required
                            placeholder="Category name"
                            [(ngModel)]="category.name"
                            name="name"
                            [status]="categoryName.dirty ? (categoryName.invalid ? 'danger' : 'success') : 'basic'" />
                    </nb-form-field>
                </div>
            </div>
            <div class="color-picker">
                <div
                    class="color-picker-color d-flex justify-content-center align-items-center m-1"
                    *ngFor="let color of colors"
                    (click)="category.color = color"
                    [style.background-color]="color">
                    <nb-icon
                        icon="radio-button-on"
                        *ngIf="category.color !== color && usedColors[color]"
                        style="color: white; opacity: 0.5">
                    </nb-icon>
                    <nb-icon icon="checkmark-outline" *ngIf="category.color === color" style="color: white"> </nb-icon>
                </div>
                <div class="clearfix"></div>
            </div>
        </nb-card-body>

        <nb-card-footer>
            <div class="d-flex flex-row-reverse justify-content-between">
                <button nbButton type="submit" status="primary" [disabled]="saveButtonEnabled || !categoryForm.valid">
                    <nb-icon icon="save-outline"></nb-icon>
                    Save
                </button>

                <button nbButton type="button" ghost status="danger" *ngIf="category.id" (click)="deleteCategory()">
                    <nb-icon icon="trash-2-outline"></nb-icon>
                </button>
            </div>
        </nb-card-footer>
    </nb-card>
</form>
