.color-picker-color {
  float: left;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  padding: 0;
}

.selected-color {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
