<form #categoryForm="ngForm" (submit)="save.emit(this.category)" autocomplete="off">
    <nb-card class="dialog">
        <nb-card-header class="d-flex align-items-center">
            <button
                nbButton
                type="button"
                status="basic"
                ghost
                aria-label="Back from category management"
                nbTooltip="Back"
                (click)="back.emit()"
                class="me-3">
                <nb-icon icon="arrow-back-outline" />
            </button>
            Manage category
        </nb-card-header>

        <nb-card-body>
            <div class="d-flex align-items-center mb-3">
                <nb-icon icon="radio-button-on" class="flex-shrink-0 me-3" [style.color]="category.color" />
                <div class="w-100">
                    <input type="hidden" required [(ngModel)]="category.color" name="color" />
                    <nb-form-field class="w-100">
                        <input
                            #categoryName="ngModel"
                            nbInput
                            fullWidth
                            maxlength="255"
                            required
                            placeholder="Category name"
                            [(ngModel)]="category.name"
                            name="name"
                            [status]="categoryName.dirty ? (categoryName.invalid ? 'danger' : 'success') : 'basic'" />
                    </nb-form-field>
                </div>
            </div>
            <div class="color-picker">
                @for (color of colors; track $index) {
                    <button
                        type="button"
                        class="color-picker-color d-flex justify-content-center align-items-center"
                        (click)="category.color = color"
                        [style.background-color]="color">
                        @if (category.color !== color && usedColors[color]) {
                            <nb-icon icon="radio-button-on" style="color: white; opacity: 0.5" />
                        }
                        @if (category.color === color) {
                            <nb-icon icon="checkmark-outline" style="color: white" />
                        }
                    </button>
                }
            </div>
        </nb-card-body>

        <nb-card-footer>
            <div class="d-flex align-items-center justify-content-between">
                <span>
                    @if (category.id && category.definedByUser) {
                        <button
                            nbButton
                            type="button"
                            ghost
                            status="danger"
                            aria-label="Delete category"
                            nbTooltip="Delete category"
                            (click)="deleteCategory()">
                            <nb-icon icon="trash-2-outline" />
                        </button>
                    }
                </span>

                <button nbButton type="submit" status="primary" [disabled]="saveButtonEnabled || !categoryForm.valid">
                    <nb-icon icon="save-outline" />
                    Save
                </button>
            </div>
        </nb-card-footer>
    </nb-card>
</form>
