.color-picker {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 0.5rem;
    justify-items: center;
}

.color-picker-color {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    padding: 0;
}
