<div class="text-center">
    <img
        ngSrc="assets/images/logo-256x256.png"
        alt="Expensave"
        height="256"
        width="256"
        class="align-items-center"
        style="width: 128px; height: 128px" />
</div>

<h1 id="title" class="title">Welcome to Expensave!</h1>

@if (showMessages.error && errors?.length && !submitted) {
    <nb-alert outline="danger" role="alert">
        <p class="alert-title"><b>Oh snap!</b></p>
        <ul class="alert-message-list">
            @for (error of errors; track $index) {
                <li class="alert-message">{{ error }}</li>
            }
        </ul>
    </nb-alert>
}

@if (showMessages.success && messages?.length && !submitted) {
    <nb-alert outline="success" role="alert">
        <p class="alert-title"><b>Hooray!</b></p>
        <ul class="alert-message-list">
            @for (message of messages; track $index) {
                <li class="alert-message">{{ message }}</li>
            }
        </ul>
    </nb-alert>
}

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">
    <div class="form-control-group">
        <label class="label" for="input-email">Email address:</label>
        <input
            tabindex="1"
            nbInput
            fullWidth
            [(ngModel)]="user.email"
            #email="ngModel"
            name="email"
            id="input-email"
            pattern=".+@.+\..+"
            placeholder="Email address"
            fieldSize="large"
            [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : 'basic'"
            [required]="getConfigValue('forms.validation.email.required')"
            [attr.aria-invalid]="email.invalid && email.touched ? true : null" />

        @if (email.invalid && email.touched) {
            @if (email.errors?.pattern) {
                <p class="caption status-danger">Email should be the real one!</p>
            }
        }
    </div>

    <div class="form-control-group">
        <span class="label-with-link">
            <label class="label" for="input-password">Password:</label>
            <a class="forgot-password caption-2" routerLink="../request-password">Forgot Password?</a>
        </span>
        <input
            tabindex="2"
            nbInput
            fullWidth
            [(ngModel)]="user.password"
            #password="ngModel"
            name="password"
            type="password"
            id="input-password"
            placeholder="Password"
            fieldSize="large"
            [status]="password.dirty ? (password.invalid ? 'danger' : 'success') : 'basic'"
            [required]="getConfigValue('forms.validation.password.required')"
            [minlength]="getConfigValue('forms.validation.password.minLength')"
            [maxlength]="getConfigValue('forms.validation.password.maxLength')"
            [attr.aria-invalid]="password.invalid && password.touched ? true : null" />

        @if (password.invalid && password.touched) {
            @if (password.errors?.minlength || password.errors?.maxlength) {
                <p class="caption status-danger">
                    Password should contain from {{ getConfigValue('forms.validation.password.minLength') }} to
                    {{ getConfigValue('forms.validation.password.maxLength') }}
                    characters
                </p>
            }
        }
    </div>

    @if (rememberMe) {
        <div class="form-control-group accept-group">
            <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe">Remember me</nb-checkbox>
        </div>
    }

    <button
        nbButton
        fullWidth
        status="primary"
        size="large"
        [disabled]="submitted || !form.valid"
        [class.btn-pulse]="submitted">
        Log In
    </button>
</form>

@if (socialLinks && socialLinks.length > 0) {
    <section class="links" aria-label="Social sign in">
        or enter with:
        <div class="socials">
            @for (socialLink of socialLinks; track $index) {
                @if (socialLink.link) {
                    <a
                        [routerLink]="socialLink.link"
                        [attr.target]="socialLink.target"
                        [attr.class]="socialLink.icon"
                        [class.with-icon]="socialLink.icon">
                        @if (socialLink.icon) {
                            <nb-icon [icon]="socialLink.icon"></nb-icon>
                        } @else {
                            {{ socialLink.title }}
                        }
                    </a>
                }

                @if (socialLink.url) {
                    <a
                        [attr.href]="socialLink.url"
                        [attr.target]="socialLink.target"
                        [attr.class]="socialLink.icon"
                        [class.with-icon]="socialLink.icon">
                        @if (socialLink.icon) {
                            <nb-icon [icon]="socialLink.icon"></nb-icon>
                        } @else {
                            {{ socialLink.title }}
                        }
                    </a>
                }
            }
        </div>
    </section>
}

@if (!APP_CONFIG.registrationDisabled) {
    <section class="another-action" aria-label="Register">
        Don't have an account? <a class="text-link" routerLink="../register">Register</a>
    </section>
}

<section class="another-action">
    <small class="very-small text-hint">v{{ environment.version }}</small>
</section>
