<nb-card class="dialog">
    <nb-card-header class="d-flex align-items-center">
        <button nbButton status="primary" ghost (click)="back.emit(true)" class="me-3">
            <nb-icon icon="arrow-back-outline"></nb-icon>
        </button>
        Select calendar
    </nb-card-header>
    <nb-list>
        <nb-list-item
            [@slideAnimation]
            class="actionable"
            *ngFor="let calendar of calendars"
            [class.active]="isActive(calendar)"
            (click)="calendarClick.emit(calendar)">
            <nb-icon
                [icon]="isActive(calendar) ? 'radio-button-on' : 'radio-button-off'"
                [style]="isActive(calendar) ? 'primary' : ''"
                class="flex-shrink-0 me-2">
            </nb-icon>
            <div class="text-truncate">{{ calendar.name }}</div>
        </nb-list-item>
    </nb-list>
    <nb-card-footer class="text-right">
        <button nbButton status="primary" ghost (click)="newCalendarClick.emit(true)">
            <nb-icon icon="plus"></nb-icon> Add calendar
        </button>
    </nb-card-footer>
</nb-card>
