@use '../../../../../theme' as *;

:host.bounding-month {
    opacity: .25;
}

:host:hover.bounding-month {
    opacity: 1;
    transition: opacity 1s;
}

:host.selected {
    color: nb-theme(color-info-500);

    .cell {
        border-right: 1px solid nb-theme(color-info-500);
    }

    .unconfirmed-expenses {
        border-color: nb-theme(color-info-500);
    }
}

.cell {
    border-right: 1px solid transparent;
}

strong {
    font-size: 120%;
}

small {
    line-height: 15px;
}

.unconfirmed-expenses {
    border: 1px solid nb-theme(text-hint-color);
    height: 8px;
    width: 8px;
    border-radius: 10px;
}
