@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';

$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme(
                (
                    font-family-primary: Ubuntu,
                    input-tiny-text-font-weight: 400,
                    input-small-text-font-weight: 400,
                    input-medium-text-font-weight: 400,
                    card-header-text-font-weight: 400,
                ),
                expensave,
                default
);
