<div>
    <button nbButton type="button" tabIndex="3" (click)="expense.isExpense = !expense.isExpense" class="toggle-sign mb-2">
        <nb-icon [icon]="expense.isExpense ? 'minus' : 'plus'"></nb-icon>
    </button>
    <div class="d-flex">
        <div class="mx-3 w-50">
            <label for="expense-amount">Amount</label>
            <input
                #focus
                nbInput
                fullWidth
                required
                type="number"
                tabIndex="1"
                placeholder="{{ 0 | shortNumber }}"
                name="amount"
                id="expense-amount"
                [(ngModel)]="expense.absoluteAmount"
                class="t-input px-0 pt-3 pb-2" />
        </div>
        <div class="mx-3" *ngIf="labelEditable">
            <label for="expense-label">Label</label>
            <app-input-suggestion
                [input]="expense.label"
                (inputChanged)="handleInputChange($event)"
                [suggestion]="suggestedExpense?.label"
                (suggest)="applyLabelSuggestion()"
                [cssClasses]="'t-input px-0 pt-3 pb-2'">
                <input
                    nbInput
                    fullWidth
                    required
                    tabIndex="2"
                    placeholder="e.g. coffee"
                    name="label"
                    id="expense-label"
                    [(ngModel)]="expense.label"
                    class="t-input px-0 pt-3 pb-2" />
            </app-input-suggestion>
        </div>
    </div>
</div>
