<div class="cell pe-1 text-right no-user-selection actionable">
    <div class="d-flex align-items-center justify-content-end mb-1">
        @if (hasUnconfirmedExpenses) {
            <div class="unconfirmed-expenses me-2"></div>
        }
        <strong>{{ day }}</strong>
    </div>
    @if (expenseBalance?.change || (expenseBalance && isCellSelected)) {
        <small class="d-block">
            {{ expenseBalance.change | shortNumber: '.0-0' }}
        </small>
    }
    @if (expenseBalance?.balance || (expenseBalance && isCellSelected)) {
        <small class="d-block">
            {{ expenseBalance.balance | shortNumber: '.0-0' }}
        </small>
    }
</div>
