@use '../../../../../theme' as *;

button.create-expense {
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 32px !important;
    border: 3px solid nb-theme(color-basic-default-border) !important;
    height: 64px;
    width: 64px;
}

