<div class="h-100">
    @if (unconfirmedExpenses.length) {
        <div>
            <app-calendar-expense-list-mobile-items
                [selectedValue]="selectedValue"
                [confirmed]="false"
                [expenses]="unconfirmedExpenses" />
        </div>
    }
    @if (confirmedExpenses.length) {
        <div>
            <app-calendar-expense-list-mobile-items
                [selectedValue]="selectedValue"
                [confirmed]="true"
                [expenses]="confirmedExpenses" />
        </div>
    }
</div>

<button
    nbButton
    type="button"
    status="primary"
    class="create-expense"
    (click)="calendarService.createExpense(calendar, selectedValue)">
    <nb-icon icon="plus-outline" />
</button>
