<form #balanceForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off" class="h-100">
    <div class="d-flex flex-column h-100">
        <app-expense-input [expense]="expense" [labelEditable]="false" [colorize]="false" />

        <div class="h-100 overflow-auto">
            <app-expense-dialog-calendar-list-item [(calendar)]="expense.calendar" />
            <nb-list-item class="border-0">
                <nb-icon icon="radio-button-on" class="me-3"></nb-icon>
                <div class="text-truncate text-hint">Balance Update</div>
            </nb-list-item>
            <app-expense-dialog-date-list-item [(date)]="expense.createdAt" />
            <app-expense-dialog-description-list-item [(description)]="expense.description" />
            <app-expense-dialog-user-list-item [user]="expense.user" />
        </div>

        <app-expense-dialog-footer [form]="balanceForm" [expense]="expense" />
    </div>
</form>
