<form #balanceForm="ngForm" [nbSpinner]="isBusy" (ngSubmit)="onSubmit ? onSubmit() : onDefaultSubmit()" autocomplete="off" class="h-100">
    <div class="d-flex flex-column h-100">
        <app-expense-input [expense]="expense" [labelEditable]="false" #expenseInput />

        <div class="h-100 overflow-auto">
            <app-expense-dialog-calendar-list-item [(calendar)]="expense.calendar" />
            <app-expense-dialog-category-list-item [category]="expense.category" [isActionable]="false" />
            <app-expense-dialog-date-list-item [(date)]="expense.createdAt" />
            <app-expense-dialog-description-list-item [(description)]="expense.description" />
            <app-expense-dialog-user-list-item [user]="expense.user" />
        </div>

        <app-expense-dialog-footer
            [form]="balanceForm"
            [expense]="expense"
            [deletable]="deletable"
            (delete)="onDelete ? onDelete() : onDefaultDelete()" />
    </div>
</form>
