<div [nbSpinner]="isBusy">
    @if (editableCalendar) {
        <app-calendar-edit
            [calendar]="editableCalendar"
            [isBusy]="isBusy"
            (back)="editableCalendar = undefined"
            (save)="saveCalendar($event)">
        </app-calendar-edit>
    } @else {
        <app-calendar-list
            [selectedCalendar]="this.selectedCalendar"
            [calendars]="this.calendars"
            (newCalendarClick)="editCalendar()"
            (calendarClick)="dialogRef.close($event)"
            (back)="dialogRef.close(false)">
        </app-calendar-list>
    }
</div>
