<form #expenseForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <nb-card size="medium" [nbSpinner]="isBusy" status="warning" style="width: 335px;">
        <nb-card-header>
            <div class="d-flex">
                <button nbButton type="button" shape="semi-round" status="info" (click)="toggleExpense()">
                    <nb-icon [icon]="isExpense ? 'minus' : 'plus'"></nb-icon>
                </button>
                <input nbInput fullWidth placeholder="Amount" name="amount" [(ngModel)]="expense.amount" />
                <input nbInput fullWidth placeholder="Label" name="label" [(ngModel)]="expense.label" />
            </div>
        </nb-card-header>
        <nb-card-body class="p-0">
            <nb-list>
                <nb-list-item (click)="selectCalendar()" class="actionable">
                    <nb-icon icon="calendar-outline"></nb-icon>
                    <div class="text-truncate">{{ expense.calendar.name }}</div>
                </nb-list-item>

                <nb-list-item (click)="expense.confirmed = !expense.confirmed" class="actionable">
                    <nb-icon [icon]="expense.confirmed ? 'checkmark-circle-2' : 'radio-button-off'" [status]="expense.confirmed ? 'primary' : ''" [class.active]="expense.confirmed"></nb-icon>
                    <div>{{ expense.confirmed ? 'Confirmed' : 'Unconfirmed' }}</div>
                </nb-list-item>

                <nb-list-item (click)="selectCategory()" class="actionable">
                    <nb-icon icon="radio-button-on" [ngStyle]="{'color': expense.category?.color}" class="active"></nb-icon>
                    <div class="text-truncate">{{ expense.category?.name ?? 'Uncategorized' }}</div>
                </nb-list-item>

                <nb-list-item (click)="selectDateTime()" class="actionable">
                    <nb-icon icon="calendar-outline"></nb-icon>
                    <div class="text-truncate">{{ expense.createdAt|date:'fullDate' }}</div>
                </nb-list-item>

                <nb-list-item (click)="addDescription()" class="actionable">
                    <nb-icon icon="file-text-outline"></nb-icon>
                    <div class="text-truncate">{{ expense.description ?? 'Add description' }}</div>
                </nb-list-item>

                <nb-list-item>
                    <nb-icon icon="person-outline"></nb-icon>
                    <nb-user [name]="expense.user.name"
                             [picture]="expense.user.avatar"
                             size="small">
                    </nb-user>
                </nb-list-item>
            </nb-list>
        </nb-card-body>

        <nb-card-footer>
            <div class="d-flex flex-row-reverse justify-content-between">
                <button nbButton type="submit" status="primary" [disabled]="isBusy || !expenseForm.valid">
                    <nb-icon icon="save-outline"></nb-icon>
                    Save
                </button>

                <button nbButton type="button" ghost status="danger" *ngIf="expense.id" (click)="deleteExpense()">
                    <nb-icon icon="trash-2-outline"></nb-icon>
                </button>
            </div>
        </nb-card-footer>
    </nb-card>
</form>
