:host ::ng-deep .tabset {
    position: absolute;
    border-bottom: 0 !important;
    justify-content: flex-end !important;
    width: 100%;
    padding: 0 1rem !important;
}

:host ::ng-deep .tab {
    .tab-link {
        color: hsla(0, 0%, 100%, .4) !important;
        font-size: 11px;
        padding: 1.5em 2em;
    }

    .tab-link:hover {
        color: hsla(0, 0%, 100%, .8) !important;
    }

    .tab-link:hover:before {
        background-color: transparent !important;
    }
}

:host ::ng-deep .tab.active {
    .tab-link {
        color: hsla(0, 0%, 100%, .8) !important;
    }

    .tab-link:before {
        background-color: hsla(0, 0%, 100%, .8) !important;
    }
}

nb-list-item {
    nb-icon {
        opacity: .25;
        min-width: 1em;
    }

    nb-icon.active {
        opacity: .75
    }
}
