nb-list-item {
    nb-icon {
        opacity: .25;
        min-width: 1em;
    }

    nb-icon.active {
        opacity: .75
    }
}

:host ::ng-deep .expense-header.confirmed {
    color: hsla(0, 0%, 100%, .8) !important;

    button.toggle-sign {
        background-color: rgba(0, 0, 0, .05);
    }

    input.t-input {
        color: hsla(0, 0%, 100%, .8) !important;
        border-color: hsla(0, 0%, 100%, .4) !important;
    }

    input.t-input::placeholder {
        color: hsla(0, 0%, 100%, .4) !important;
    }

    .suggestion-suffix {
        color: hsla(0, 0%, 100%, .6) !important;
    }
}

button.toggle-sign {
    padding: 0 12px 0 23px !important;
    height: 30px;
    margin-right: 10px;
    color: #fff !important;
    border-radius: 0 100px 100px 0;
    border: 0;
}

nb-card-header {
    font-weight: normal !important;
}
