@use '../../../../../theme' as *;

:host ::ng-deep .dialog {
    height: 560px;
}

:host ::ng-deep nb-tabset {
    .tabset {
        position: absolute;
        border-bottom: 0 !important;
        justify-content: end !important;
        width: 100%;
        padding: 0 0.5em !important;
    }

    .tabset li:only-child {
        display: none;
    }

    .tab-link {
        font-size: 12px;
        padding: 2em 0 1em;
    }

    .tab {
        margin: 0 0.5em;
    }

    .tab.active {
        border-bottom: 2px solid nb-theme(color-primary-default-border);
    }

    .tab-link:before {
        background-color: transparent !important;
    }
}

:host ::ng-deep nb-tabset.confirmed {
    .tab-link {
        color: hsla(0, 0%, 100%, .4) !important;
    }

    .tab-link:hover {
        color: hsla(0, 0%, 100%, .8) !important;
    }

    .tab.active {
        border-color: hsla(0, 0%, 100%, .8) !important;

        .tab-link {
            color: hsla(0, 0%, 100%, .8) !important;
        }
    }
}

:host ::ng-deep nb-list-item {
    nb-icon {
        opacity: .25;
        min-width: 1em;
    }

    nb-icon.active {
        opacity: .75
    }
}
