<div class="d-flex p-3 justify-content-center border-bottom">
    <nb-actions size="small">
        <nb-action icon="bar-chart-outline" routerLink="/reports" nbTooltip="Reports" />
        <nb-action icon="pricetags-outline" (click)="editCategories()" nbTooltip="Categories" />
        @if (user?.isAdmin) {
            <nb-action icon="people-outline" (click)="manageUsers()" nbTooltip="Users" />
        }
        @if (statementImportService.expenses.length) {
            <nb-action
                icon="attach-2-outline"
                (click)="statementImportService.processImport()"
                badgeDot
                badgePosition="top right"
                badgeStatus="danger" />
        }
        <nb-action icon="person-outline" (click)="editProfile()" nbTooltip="Profile" />
        <nb-action icon="log-out-outline" (click)="showLogoutConfirmDialog()" nbTooltip="Logout" />
    </nb-actions>
</div>

<div class="text-center">
    <small class="very-small text-hint">v{{ environment.version }}</small>
</div>
