<nb-card size="small">
    <nb-card-header class="d-flex align-items-center justify-content-between">
        {{ title }}
        <button nbButton status="primary" ghost (click)="dialogRef.close()">
            <nb-icon icon="close-outline"></nb-icon>
        </button>
    </nb-card-header>

    <nb-card-body class="p-0 overflow-hidden">
        <textarea
            nbInput
            fullWidth
            #focus
            class="p-3 h-100 w-100 border-0"
            style="resize: none"
            [placeholder]="placeholder"
            [(ngModel)]="text"></textarea>
    </nb-card-body>

    <nb-card-footer class="text-right">
        <button nbButton status="primary" (click)="dialogRef.close(text ?? '')">
            <nb-icon icon="save-outline"></nb-icon>
            Save
        </button>
    </nb-card-footer>
</nb-card>
